<header class="header">
    <div class="header__logo">
        <p>Movies app</p>
    </div>
    

    <div class="header__main">
        <div class="header__search" #searchBar>
            <i class="pi pi-search"></i>
            <input type="text" placeholder="Search">
        </div>
    
        <div class="header__avatar">
            <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="avatar">
        </div>
        <div class="header__menu-icon">
            <i class="pi pi-bars"></i>
        </div>
    </div>
</header>
