
$bg:rgb(15, 15, 17);
$primary:rgb(172, 26, 25);
$text-white:rgb(255, 255, 255);

$p-sm: 3px;
$p-md: 5px;
$p-lg: 10px;
$p-xl: 15px;

$rounded-sm: 3px;
$rounded-md: 5px;
$rounded-lg: 10px;
$rounded-xl: 15px;
